[submodule "cakephp"]
	path = cakephp
	url = https://github.com/cakephp/cakephp.git
[submodule "plugins/Migrations"]
	path = plugins/Migrations
	url = https://github.com/CakeDC/migrations.git
[submodule "plugins/Tools"]
	path = plugins/Tools
	url = https://github.com/dereuromark/tools.git
[submodule "plugins/Scheduling/Vendor/CronExpression"]
	path = plugins/Scheduling/Vendor/CronExpression
	url = https://github.com/mtdowling/cron-expression.git
